@using EpochComponents.Utils
<nav class=@($"menu-items-wrapper navbar {Color.ToDescriptionString()} {Size.ToDescriptionString()}")>
	<ul class="links">
		@if (UseBranding)
		{
			<li class="menu-item">
				<a class="navbar-logo center" href="@BrandHref">
					<EpochTypo Typo="Enums.EpochTypoType.H5"><b>@BrandName</b></EpochTypo>
					@if (!string.IsNullOrEmpty(BrandImageSrc))
					{					
						<img src="@BrandImageSrc" alt="@BrandImageAlt" />
					}
				</a>
			</li>
		}

		@NavLeft
	</ul>

	@if (@NavRight != null)
	{
		<ul class="links push-right">
			@NavRight
		</ul>
	}
</nav>

