@using EpochComponents.Utils
@inherits EpochBase
@if (ChildContent != null)
{
    <div class="flex-column-center @(Width == ContainerWidth.None ? "" : $"{Width.ToDescriptionString()} {@Color.ToDescriptionString()}")">
        @ChildContent
    </div>
}

@code {
    [Parameter] public ContainerWidth Width { get; set; } = ContainerWidth.None;
    [Parameter] public ColorStyle Color { get; set; } = ColorStyle.Light;
}