@page "/User/Account"
@using EpochApp.Client.Services
<PageTitle>Account @Auth.CurrentUser.UserName</PageTitle>
<h3>Account</h3>
<p>@Auth.CurrentUser.UserID</p>
@code {
    [Inject] public EpochAuthProvider Auth { get; set; }
}