<div class="flex-center">
	@ChildContent
	<FlatLink MenuItem="false" Link="@NavRef.Site.About" MatchMode="NavLinkMatch.All">About</FlatLink>
	<FlatLink MenuItem="false" Link="@NavRef.Site.Faq" MatchMode="NavLinkMatch.All">FAQ</FlatLink>
	<FlatLink MenuItem="false" Link="@NavRef.Site.Support" MatchMode="NavLinkMatch.All">Support</FlatLink>
	<FlatLink MenuItem="false" Link="@NavRef.Site.Contact" MatchMode="NavLinkMatch.All">Contact</FlatLink>
</div>