@inherits LayoutComponentBase

<Layout>
    <HeaderContent>
        <NavMenu />
    </HeaderContent>

    <LayoutContent>
        <MainContent Width="ContainerWidth.Xxl">
            @Body
        </MainContent>
    </LayoutContent>

    <FooterContent>
        <div class="flex-center">
            <h3>Footer Content</h3>
        </div>
    </FooterContent>
</Layout>