@inherits LayoutComponentBase

@* <MudThemeProvider @ref="@_mudThemeProvider" @bind-IsDarkMode="@_isDarkMode" /> *@
@* <MudDialogProvider /> *@
@* <MudSnackbarProvider /> *@
<Layout>
    <HeaderContent>
        <EpochNavBar>
            <EpochNavLink Link="/">Home</EpochNavLink>
            <EpochNavLink Link="/" Match="NavLinkMatch.All">Home</EpochNavLink>
            <EpochNavLink Link="/Features" Match="NavLinkMatch.All">Features</EpochNavLink>
            <EpochNavLink Link="/Community" Match="NavLinkMatch.All">Community</EpochNavLink>
            <EpochNavLink Link="/Support" Match="NavLinkMatch.All">Support</EpochNavLink>
            <EpochNavLink Link="/About" Match="NavLinkMatch.All">About</EpochNavLink>
            <AuthorizeView>
                <Authorized>
                    <EpochNavLink Link="/User/Profile">Profile</EpochNavLink>
                    <EpochNavLink Link="/Auth/Logout">Logout</EpochNavLink>
                </Authorized>
                <NotAuthorized>
                    <EpochNavLink Link="/Auth/Register">Create Account</EpochNavLink>
                    <EpochNavLink Link="/Auth/Login">Login</EpochNavLink>
                </NotAuthorized>
            </AuthorizeView>
        </EpochNavBar>
    </HeaderContent>

    <LayoutContent>
        <MainContent Width="ContainerWidthType.Xxl">
            @Body
        </MainContent>
    </LayoutContent>
    <FooterContent>
        <div class="flex-center">
            <h3>Footer Content</h3>
        </div>
    </FooterContent>
</Layout>

@code {

    bool _drawerOpen = true;
    private bool _isDarkMode;

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

}