@inherits LayoutComponentBase

<FlatThemeProvider />

<FlatLayout MaxWidth="MaxWidth.ExtraExtraLarge">
	<LayoutHeader>
		<NavMenu />
	</LayoutHeader>
	<MainContent>
		@Body
	</MainContent>
	<LayoutFooter>
		<h3>Footer Content</h3>
	</LayoutFooter>
</FlatLayout>