@using Flatify.Components.ThemeProvider
@inherits LayoutComponentBase
<FlatThemeProvider />

<main>
    <header>
        <NavMenu />
    </header>

    <div class="container-xxl">
        @Body
    </div>

    <footer>
        <div class="flex-center">
            <h3>Footer Content</h3>
        </div>
    </footer>
</main>