@inherits EpochBase
<button disabled="@(IsDisabled || IsLoading)" @onclick=@OnClick class="@Class" style="@Styles">
    @ChildContent
</button>

@code
{
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
    [Parameter] public ButtonType ButtonType { get; set; } = ButtonType.Button;
    [Parameter] public bool IsDisabled { get; set; }
    [Parameter] public bool IsLoading { get; set; }
}