@page "/Builders/ConLang/E/{LangId}"
@namespace EpochApp.Client.Pages.Dashboard.Builders
<PageTitle>@StaticUtils.Constants.AppName - Edit Constructed Language</PageTitle>
<h3>Edit Constructed Language</h3>

@code {
	[Parameter] public string LangId { get; set; }
}