@font-face {
    font-family: "Code New Roman";
    src: url("fonts/code_new_roman/Code New Roman.otf");
    src: url("fonts/code_new_roman/Code New Roman.otf") format("opentype"),
    url("fonts/code_new_roman/Code New Roman.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Code New Roman";
    src: url("fonts/code_new_roman/Code New Roman i.otf");
    src: url("fonts/code_new_roman/Code New Roman i.otf") format("opentype"),
    url("fonts/code_new_roman/Code New Roman i.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Code New Roman";
    src: url("fonts/code_new_roman/Code New Roman b.otf");
    src: url("fonts/code_new_roman/Code New Roman b.otf") format("opentype"),
    url("fonts/code_new_roman/Code New Roman b.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

.mono-font {
    font-family: "Code New Roman", "Calibri", monospace;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

:root {
    --footer-Offset: 96px;
    --footer-Offset-inverted: -96px;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: var(--footer-Offset-inverted);
}

.page-wrap:after {
    content: "";
    display: block;
}

.site-footer, .page-wrap:after {
    height: var(--footer-Offset);
}

.site-background {
    background-image: url('images/worldbuilding.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box-section-top {
    background: radial-gradient(105.19px at 50% calc(100% - 141.60px), var(--flatify__color-accent-primary) 99%, var(--flatify__color-accent-light) 101%) calc(50% - 96px) 0/192px 100%;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 50% 100%, 0 calc(100% - 50px));
}

.box-section-bottom {
    background: radial-gradient(105.19px at 50% calc(100% + 93.60px), var(--flatify__color-accent-primary) 99%, var(--flatify__color-accent-dark) 101%) 50% calc(100% - 48px)/192px 100% repeat-x;
    clip-path: polygon(0 0, 50% 50px, 100% 0, 100% 100%, 0 100%);
    margin-top: -40px;
}

.tracking-in-contract {
    -webkit-animation: tracking-in-contract 1s ease-in-out both;
    animation: tracking-in-contract 1s ease-in-out both;
}

/* Backgrounds */
.hypnotic {
    background: radial-gradient(64px at 100% 0, var(--mud-palette-primary-lighten) 6.25%, var(--mud-palette-primary) 6.3% 18.75%, var(--mud-palette-primary-lighten) 18.8% 31.25%, var(--mud-palette-primary) 31.3% 43.75%, var(--mud-palette-primary-lighten) 43.8% 56.25%, var(--mud-palette-primary) 56.3% 68.75%, #0000 0),
    radial-gradient(64px at 0 0, var(--mud-palette-primary-lighten) 6.25%, var(--mud-palette-primary) 6.3% 18.75%, var(--mud-palette-primary-lighten) 18.8% 31.25%, var(--mud-palette-primary) 31.3% 43.75%, var(--mud-palette-primary-lighten) 43.8% 56.25%, var(--mud-palette-primary) 56.3% 68.75%, #0000 0),
    radial-gradient(64px at 0 100%, var(--mud-palette-primary-lighten) 6.25%, var(--mud-palette-primary) 6.3% 18.75%, var(--mud-palette-primary-lighten) 18.8% 31.25%, var(--mud-palette-primary) 31.3% 43.75%, var(--mud-palette-primary-lighten) 43.8% 56.25%, var(--mud-palette-primary) 56.3% 68.75%, #0000 0),
    radial-gradient(64px at 100% 100%, var(--mud-palette-primary-lighten) 6.25%, var(--mud-palette-primary) 6.3% 18.75%, var(--mud-palette-primary-lighten) 18.8% 31.25%, var(--mud-palette-primary) 31.3% 43.75%, var(--mud-palette-primary-lighten) 43.8% 56.25%, var(--mud-palette-primary) 56.3% 68.75%, #0000 0) var(--mud-palette-primary-lighten);
    background-size: 64px 64px;
    background-color: var(--mud-palette-primary-lighten);
}

.peppers {
    background: radial-gradient(calc(1.28 * 32px + 12px / 2) at left 50% bottom calc(-.8 * 32px), var(--mud-palette-primary) calc(100% - 12px), var(--mud-palette-primary-darken) calc(101% - 12px) 100%, #0000 101%) calc(2 * 32px) calc(-1 * calc(1.5 * 32px + 12px)),
    radial-gradient(calc(1.28 * 32px + 12px / 2) at left 50% bottom calc(-.8 * 32px), var(--mud-palette-primary-lighten) calc(100% - 12px), var(--mud-palette-primary-darken) calc(101% - 12px) 100%, #0000 101%) calc(-1 * 32px) calc(calc(1.5 * 32px + 12px) / -2),
    radial-gradient(calc(1.28 * 32px + 12px / 2) at left 50% top calc(-.8 * 32px), var(--mud-palette-primary-lighten) calc(100% - 12px), var(--mud-palette-primary-darken) calc(101% - 12px) 100%, #0000 101%) 0 calc(1.5 * 32px + 12px),
    radial-gradient(calc(1.28 * 32px + 12px / 2) at left 50% top calc(-.8 * 32px), var(--mud-palette-primary) calc(100% - 12px), var(--mud-palette-primary-darken) calc(101% - 12px) 100%, #0000 101%) 32px calc(calc(1.5 * 32px + 12px) / 2),
    linear-gradient(var(--mud-palette-primary) 50%, var(--mud-palette-primary-lighten) 0);
    background-size: calc(4 * 32px) calc(1.5 * 32px + 12px);

}
/* ----------------------------------------------
 * Generated by Animista on 2024-2-9 20:6:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}

@keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}