@page "/Article/Edit"
@page "/Article/E"
@page "/Article/Edit/{ArticleId?}"
@page "/Article/E/{ArticleId?}"

<PageTitle>@StaticUtils.Constants.AppName - Edit Article</PageTitle>

<h3>Edit Articles</h3>