@page "/Internal/Configuration"
@using MudBlazor
<h3>Internal Configuration</h3>
<MudPaper Width="100%" Outlined="true">
	<MudToolBar>
		<MudLink Href="/Internal/Configuration/Dictionary">Word Dictionary</MudLink>
	</MudToolBar>
</MudPaper>

@code {
}