@page "/Auth/Login"
@namespace EpochApp.Client.Pages.Auth
<PageTitle>@StaticUtils.Constants.AppName - Log In</PageTitle>

<h1>Login</h1>
<h4>Sign in to your @StaticUtils.Constants.CompanyName account!</h4>

<FlatContainer MaxWidth="MaxWidth.ExtraExtraLarge">
	<LoginForm />
</FlatContainer>