@page "/Flatify"
<h1>Flatify Test</h1>

<section id="components" class="width-100p">
	<h2>Components</h2>
	<hr />
	<h3>Buttons</h3>
	<h4>Regular Buttons</h4>
	<div class="width-100p">
		<FlatButton Border="BorderType.Outlined">
			<p>Flat Button Test</p>
		</FlatButton>
		<FlatButton Border="BorderType.Bordered" Color="FlatColor.Green">
			<p>Flat Button Test</p>
		</FlatButton>
		<h4>Two Layer Buttons</h4>
		<FlatLayerButton>
			<ChildContent>
				Main Layer
			</ChildContent>
			<LayerContent>
				Second Layer
			</LayerContent>
		</FlatLayerButton>
	</div>
</section>

<section id="forms" class="width-100p">

</section>

<section id="content" class="width-100p">

</section>

@code {
}