@page "/"
@using Typo=MudBlazor.Typo
@using MudBlazor
@using EpochApp.Client.Pages.Dashboard.Articles
@namespace EpochApp.Client.Pages

<PageTitle>@StaticUtils.Constants.AppName</PageTitle>

<MudContainer>
	<section class="mud-theme-primary">
		<MudPaper Class="my-2" Outlined="true">
			<MudText Typo="Typo.h1" Align="Align.Center">Welcome to the Epoch World Exchange!</MudText>
			<MudText Typo="Typo.h2" Align="Align.Center">A World first in Collaborative and Generative Content Generation</MudText>
		</MudPaper>
	</section>
	<section class="mud-theme-secondary">
		<MudText Typo="Typo.h4" Align="Align.Center">Latest Site News</MudText>
		<BlogView BlogType="BlogType.NEWS" />
	</section>
	<section>
		<ManuscriptForm />
	</section>
</MudContainer>