@page "/"
@namespace EpochApp.Client.Pages

<PageTitle>@StaticUtils.Constants.AppName</PageTitle>

<section>
	<FlatTypo Typo="Typo.Heading1">Welcome to the <b>Epoch World Exchange!</b></FlatTypo>
	<FlatTypo Typo="Typo.Heading2">A World first in Collaborative and Generative Content Generation</FlatTypo>
</section>
<section>
	<FlatTypo Typo="Typo.Heading3">Features</FlatTypo>
</section>