@page "/"
@namespace EpochApp.Client.Pages

<PageTitle>@StaticUtils.Constants.AppName</PageTitle>

<section>
	<FlatTypo Typo="Typo.Heading1" Text="Welcome to the Epoch World Exchange!" />
	<FlatTypo Typo="Typo.Heading2">A World first in Collaborative and Generative Content Generation</FlatTypo>
</section>
<section>
	<FlatTypo Typo="Typo.Heading4">News</FlatTypo>
	<BlogView BlogType="BlogType.NEWS" />
</section>