@page "/Policy"
<PageTitle>@StaticUtils.Constants.AppName - Policy</PageTitle>

<MudText Typo="Typo.h2" Align="Align.Center">Policies</MudText>
<hr />

<section>
	<MudText Typo="Typo.h4">Privacy Policy</MudText>
	<hr />
	<embed src="pdfs/Privacy-Policy.pdf" style="width: 100%; height: 2100px;" />
</section>

@code {
}