@using EpochComponents.Enums
<div class="@($"{flexDict[Flex]} style-light container-{Width.ToString().ToLower()}")">
    @ChildContent
</div>

@code {

    private Dictionary<FlexType, string> flexDict = new Dictionary<FlexType, string>()
                                                    {
                                                        {
                                                            FlexType.None, ""
                                                        },
                                                        {
                                                            FlexType.Inline, "inline-flex"
                                                        },
                                                        {
                                                            FlexType.Center, "flex-center"
                                                        }
                                                        ,
                                                        {
                                                            FlexType.CenterX, "flex-center-x"
                                                        },
                                                        {
                                                            FlexType.CenterY,
                                                            "flex-center-y"
                                                        }
                                                    };

    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public ContainerWidthType Width { get; set; } = ContainerWidthType.Md;
    [Parameter] public FlexType Flex { get; set; } = FlexType.Inline;

}