@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
<li class="menu-item">
    <NavLink href="@Link" Match="@Match" >@ChildContent</NavLink>
</li>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string Link { get; set; } = "#";
    [Parameter] public NavLinkMatch Match { get; set; } = NavLinkMatch.All;
}