<nav class="menu-items-wrapper navbar">
    <ul class="links">
        @ChildContent
    </ul>
    @* <div class="search-bar push-right"> *@
    @*     <input type="search" class="style-light" placeholder="Search something..." /> *@
    @*     <button class="search-button" aria-label="Search"></button> *@
    @* </div> *@
</nav>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
}