@page "/User/Account"
@namespace EpochApp.Client.Pages.User

<PageTitle>@StaticUtils.Constants.AppName - @Auth.CurrentUser.UserName - Account</PageTitle>
<FlatTypo Typo="Typo.Heading3">Account</FlatTypo>
<p>@Auth.CurrentUser.UserID</p>