@page "/User/Settings"
@using EpochApp.Client.Services
@namespace EpochApp.Client.Pages.User

<PageTitle>@StaticUtils.Constants.AppName - @Auth.CurrentUser.UserName - Settings</PageTitle>
<h3>Settings</h3>

@code {
	[Inject] public EpochAuthProvider Auth { get; set; }
}